.product-card{
    max-width: 220px;
    height: 380px;
    transition: transform 0.5s ease-out; 
}

mat-card:hover{
 transform: scale(1.05) ;
 cursor:pointer ;
 
}

mat-card{
    transition: transform 0.5s ease-out; 
}