<div class="container-sm">
    <h1>Cart</h1>
    <mat-card>
        <mat-list>
<mat-list-item style="height: fit-content;" *ngFor="let item of cartItems">
    <span style="font-weight: 600;" matListItemTitle>{{item.title}}</span>
    <span class="text-right" matListItemTitle>{{item.price | currency: 'USD'}}</span>
    <img  style="width: 100px; border-radius: 30px; height: 100px; " [src]="item.images[0]" alt="">
<div class="text-right">

    <button  (click)="(deleteCartItem(item.id))">Delete</button>
</div>

</mat-list-item>

<mat-list-item  >
    <h2 class="price" matListItemTitle>Total:</h2>
    <span  matListItemTitle>{{totalPrice | currency: 'USD'}}</span>
    
    </mat-list-item>

    <mat-list-item class="text-right">
        <button mat-flat-button (click)="clearCart()">Clear</button>
    </mat-list-item>

    <mat-list-item class="text-right">
        <button mat-raised-button color="accent" (click)="buy()">Buy</button>
    </mat-list-item>
        </mat-list>
    </mat-card>
    
</div>
